.wrapper {
    width: 296px;
    height: 254px;
    padding: 10px 16px 10px 0;
    a {
        text-decoration: none;
    }
}

.channel {
    margin: -100px auto 44px;
    padding: 0;
}

.search {
    padding: 0;
    margin-top: -44px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

.img {
    width: 102px;
    width: 102px;
    border-radius: 50%;
}

.user-name {
    display: flex;
    padding: 20px 0;
}

.user-name h3 {
    font-size: 1.8rem;
    color: var(--black);
    outline: none;
    text-decoration: none;
}

.check-icon {
    font-size: 1.2rem;
    padding: 2px 0;
    padding-left: 8px;
    color: #606060;
}

.subscriber {
    font-size: 1.4rem;
    margin-top: -14px;
    color: #606060;
}

@media only screen and (max-width: 426px) {
    body,
    html {
        max-width: 426px;
    }

    .wrapper {
        width: 100%;
        padding: 0;
        margin: 12px 0;
    }

    .channel {
        margin: -100px auto 0;
    }

    .img {
        width: 120px;
        height: 120px;
    }

    .user-name > h3 {
        font-size: 24px;
    }

    .check-icon {
        font-size: 20px;
    }
}
