.wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.load {
    font-size: 30px;
    color: var(--primary);
    animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
