.titleSearch {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 0;
    color: #333;
    font-weight: 600;
    span {
        padding-left: 10px;
        font-size: 24px;
        color: var(--primary);
    }
}

.videos {
    margin-top: 44px;
}

@media only screen and (max-width: 426px) {
    body,
    html {
        max-width: 426px;
    }

    .titleSearch {
        margin: 50px 0 -30px;
        font-size: 26px;
        span {
            font-size: 28px;
        }
    }
}
