.wrapper{
}

.container{
    display: flex;
}

.content{
    margin-left: var(--default-width-sidebar);
    padding-left: 20px;
}

.title{
    font-size: 22px;
    margin-bottom: 12px;
}

.title > span{
    font-weight: 700;
    color: var(--primary);
}